In [1]:
from pyspark.sql import SparkSession
import getpass 
username=getpass.getuser()
spark=SparkSession. \
    builder. \
    config('spark.ui.port','0'). \
    config("spark.sql.warehouse.dir", f"/user/itv012740/warehouse"). \
    config('spark.shuffle.useOldFetchProtocol', 'true'). \
    enableHiveSupport(). \
    master('yarn'). \
    getOrCreate()

In [2]:
spark.sql("""select member_id, count(*) as total 
from itv012740_lending_club_project_db.customers
group by member_id order by total desc
""")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|e4c167053d5418230...|    5|
|76b577467eda5bdbc...|    4|
|3f87585a20f702838...|    4|
|ad8e5d384dae17e06...|    4|
|e7d8d16928817ec8f...|    3|
|3ae415acd6bbfaac1...|    3|
|d93573e2883e37904...|    3|
|059d401bb603d9a80...|    3|
|a2356725aa9da92c6...|    3|
|d3731bad3e6a82515...|    3|
|f9fc581aae696e0bd...|    3|
|066ddaa64bee66dff...|    3|
|c92062bb371842b3d...|    3|
|819453be77718d747...|    3|
|498bb6b1f0099cb47...|    3|
|4ab6205de571ccb7b...|    3|
|c563428cb58da48ff...|    3|
|d9ce4046daf599732...|    3|
|bf3d06b33c49a9375...|    3|
|f54295a60946dedad...|    3|
+--------------------+-----+
only showing top 20 rows

In [3]:
spark.sql("""select * from itv012740_lending_club_project_db.customers 
where member_id like 'e4c167053d5418230%'""")

+--------------------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|           member_id|emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|total_high_credit_limit|application_type|join_annual_income|verification_status_joint|         ingest_date|
+--------------------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               110907.0|      Individual|              null|                     null|2024-12-15 05:57:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               207300.0|      Individual|              null|                     null|2024-12-15 05:57:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               129833.0|      Individual|              null|                     null|2024-12-15 05:57:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               138780.0|      Individual|              null|                     null|2024-12-15 05:57:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               171165.0|      Individual|              null|                     null|2024-12-15 05:57:...|
+--------------------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+

In [4]:
spark.sql("""select member_id, count(*) as total 
from itv012740_lending_club_project_db.loans_defaulters_delinq
group by member_id order by total desc
""")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|1f392553105eebc55...|    3|
|6f88761291d14b65e...|    3|
|41d36a5e709d6218a...|    3|
|ee2d0dd6ad9e048b8...|    3|
|793b618a7de10f813...|    3|
|bca141343d9405a9a...|    3|
|9240fa4e744ff0846...|    3|
|b67f4aa39e82954f2...|    3|
|e4c167053d5418230...|    3|
|c4b67ae8b6418c6d7...|    2|
|b202a835195e60c94...|    2|
|cd1fdca829c443fa7...|    2|
|5a2d61d7acc683a00...|    2|
|b0b069b23773292a8...|    2|
|f6776ae4f355c1aa8...|    2|
|827a048c072fb44b0...|    2|
|c6a1170dc62de5363...|    2|
|4273588c35c7b7f40...|    2|
|1396169b283852f1f...|    2|
|b5ded5638e54e1692...|    2|
+--------------------+-----+
only showing top 20 rows

In [5]:
spark.sql("""select * from itv012740_lending_club_project_db.loans_defaulters_delinq
where member_id like 'e4c167053d5418230%'""")

+--------------------+-----------+-----------+----------------------+
|           member_id|delinq_2yrs|delinq_amnt|mths_since_last_delinq|
+--------------------+-----------+-----------+----------------------+
|e4c167053d5418230...|          1|        0.0|                    37|
|e4c167053d5418230...|          3|        0.0|                    13|
|e4c167053d5418230...|          1|        0.0|                    16|
+--------------------+-----------+-----------+----------------------+

In [6]:
spark.sql("""select member_id, count(*) as total 
from itv012740_lending_club_project_db.loans_defaulters_detail_rec_enq
group by member_id order by total desc
""")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|e3b0c44298fc1c149...|   33|
|e4c167053d5418230...|    5|
|3f87585a20f702838...|    4|
|ad8e5d384dae17e06...|    4|
|76b577467eda5bdbc...|    4|
|c92062bb371842b3d...|    3|
|22593a1870543b2db...|    3|
|d93573e2883e37904...|    3|
|066ddaa64bee66dff...|    3|
|291ca1b09ef11ca3e...|    3|
|5d52e7773cb0efff3...|    3|
|c563428cb58da48ff...|    3|
|3ae415acd6bbfaac1...|    3|
|e7d8d16928817ec8f...|    3|
|498bb6b1f0099cb47...|    3|
|a2356725aa9da92c6...|    3|
|4ab6205de571ccb7b...|    3|
|d3731bad3e6a82515...|    3|
|53789bea7edc660ed...|    3|
|059d401bb603d9a80...|    3|
+--------------------+-----+
only showing top 20 rows

In [7]:
spark.sql("""select * from itv012740_lending_club_project_db.loans_defaulters_detail_rec_enq
where member_id like 'e4c167053d5418230%'""")

+--------------------+-------+--------------------+--------------+
|           member_id|pub_rec|pub_rec_bankruptcies|inq_last_6mths|
+--------------------+-------+--------------------+--------------+
|e4c167053d5418230...|      0|                   0|             1|
|e4c167053d5418230...|      0|                   0|             0|
|e4c167053d5418230...|      0|                   0|             0|
|e4c167053d5418230...|      0|                   0|             3|
|e4c167053d5418230...|      0|                   0|             2|
+--------------------+-------+--------------------+--------------+

In [8]:
bad_data_customer_df = spark.sql("""select member_id from(select member_id, count(*)
as total from itv012740_lending_club_project_db.customers
group by member_id having total > 1)""")

In [9]:
bad_data_customer_df.count()

3157

In [10]:
bad_data_customer_df

+--------------------+
|           member_id|
+--------------------+
|5130d0087970e032e...|
|a2af7506825a7dcff...|
|fc0e468bff11ac7c3...|
|675151e58a628e87b...|
|2bae2e4dd6d5f2b21...|
|7115ace193e13d8f3...|
|f99c6e9cfe3a7a2d2...|
|eebbd89aa7efc13e7...|
|f284044b881f218c0...|
|cbede54df344cdb94...|
|01b2223757c3b62e7...|
|61be6498c93cadf89...|
|d4782ddad8591f44d...|
|cd1fdca829c443fa7...|
|761b2f1e61999e14e...|
|a53e2f488d2d76a30...|
|3b8ffe19f24749a73...|
|4231a55d0199c619a...|
|6eed1238f9ea0f057...|
|e884f4108b3c6b1f4...|
+--------------------+
only showing top 20 rows

In [11]:
bad_data_loans_defaulters_delinq_df = spark.sql("""select member_id from(select member_id, count(*)
as total from itv012740_lending_club_project_db.loans_defaulters_delinq
group by member_id having total > 1)""")

In [12]:
bad_data_loans_defaulters_delinq_df.count()

939

In [13]:
bad_data_loans_defaulters_delinq_df

+--------------------+
|           member_id|
+--------------------+
|cbede54df344cdb94...|
|cd1fdca829c443fa7...|
|675151e58a628e87b...|
|7115ace193e13d8f3...|
|d4782ddad8591f44d...|
|f99c6e9cfe3a7a2d2...|
|a53e2f488d2d76a30...|
|759c2dc5f485e5465...|
|0fa3654dfc604c1d4...|
|8d2c605c7ad9209cc...|
|48846377688c803fa...|
|e884f4108b3c6b1f4...|
|3b94fbab00b7a0ec4...|
|d34249ef84980fb46...|
|22593a1870543b2db...|
|bbe43331566910d55...|
|827a048c072fb44b0...|
|4273588c35c7b7f40...|
|e1f91eb87353347fd...|
|666006371cc990ae7...|
+--------------------+
only showing top 20 rows

In [14]:
bad_data_loans_defaulters_detail_rec_enq_df = spark.sql("""select member_id from(select member_id, count(*)
as total from itv012740_lending_club_project_db.loans_defaulters_detail_rec_enq
group by member_id having total > 1)""")

In [15]:
bad_data_loans_defaulters_detail_rec_enq_df.count()

3189

In [16]:
bad_data_loans_defaulters_detail_rec_enq_df

+--------------------+
|           member_id|
+--------------------+
|cbede54df344cdb94...|
|cd1fdca829c443fa7...|
|4231a55d0199c619a...|
|675151e58a628e87b...|
|01b2223757c3b62e7...|
|f284044b881f218c0...|
|a2af7506825a7dcff...|
|7115ace193e13d8f3...|
|d4782ddad8591f44d...|
|761b2f1e61999e14e...|
|3b8ffe19f24749a73...|
|2bae2e4dd6d5f2b21...|
|f99c6e9cfe3a7a2d2...|
|fc0e468bff11ac7c3...|
|61be6498c93cadf89...|
|a53e2f488d2d76a30...|
|5130d0087970e032e...|
|eebbd89aa7efc13e7...|
|6eed1238f9ea0f057...|
|d34249ef84980fb46...|
+--------------------+
only showing top 20 rows

In [17]:
bad_data_customer_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path", "/user/itv012740/lendingclubproject/bad/bad_data_customers") \
.save()

In [18]:
bad_data_loans_defaulters_delinq_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path", "/user/itv012740/lendingclubproject/bad/bad_data_loans_defaulters_delinq") \
.save()

In [19]:
bad_data_loans_defaulters_detail_rec_enq_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path", "/user/itv012740/lendingclubproject/bad/bad_data_loans_defaulters_detail_rec_enq") \
.save()

In [20]:
bad_customer_data_df = bad_data_customer_df.select("member_id") \
.union(bad_data_loans_defaulters_delinq_df.select("member_id")) \
.union(bad_data_loans_defaulters_detail_rec_enq_df.select("member_id"))

In [21]:
bad_customer_data_final_df = bad_customer_data_df.distinct()

In [22]:
bad_customer_data_final_df.count()

3189

In [23]:
bad_customer_data_final_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path", "/user/itv012740/lendingclubproject/bad/bad_customer_data_final") \
.save()

In [24]:
bad_customer_data_final_df.createOrReplaceTempView("bad_data_customer")

In [25]:
customers_df = spark.sql("""select * from itv012740_lending_club_project_db.customers
where member_id NOT IN (select member_id from bad_data_customer)
""")

In [26]:
customers_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path", "/user/itv012740/lendingclubproject/raw/cleaned_new/customers_parquet") \
.save()

In [27]:
loans_defaulters_delinq_df = spark.sql("""select * from itv012740_lending_club_project_db.loans_defaulters_delinq
where member_id NOT IN (select member_id from bad_data_customer)
""")

In [28]:
loans_defaulters_delinq_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path", "/user/itv012740/lendingclubproject/raw/cleaned_new/loans_defaulters_delinq_parquet") \
.save()

In [29]:
loans_defaulters_detail_rec_enq_df = spark.sql("""select * from itv012740_lending_club_project_db.loans_defaulters_detail_rec_enq
where member_id NOT IN (select member_id from bad_data_customer)
""")

In [30]:
loans_defaulters_detail_rec_enq_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path", "/user/itv012740/lendingclubproject/raw/cleaned_new/loans_defaulters_detail_rec_enq_parquet") \
.save()

In [41]:
spark.sql("""
create EXTERNAL TABLE itv012740_lending_club_project_db.customers_new(member_id string, emp_title string, emp_length int, home_ownership string, 
annual_income float, address_state string, address_zipcode string, address_country string, grade string, 
sub_grade string, verification_status string, total_high_credit_limit float, application_type string, 
join_annual_income float, verification_status_joint string, ingest_date timestamp)
stored as parquet
LOCATION '/user/itv012740/lendingclubproject/raw/cleaned_new/customers_parquet'

""")

++
||
++
++

In [44]:
spark.sql("""
create EXTERNAL TABLE itv012740_lending_club_project_db.loans_defaulters_delinq_new(member_id string,delinq_2yrs integer, delinq_amnt float, mths_since_last_delinq integer)
stored as parquet
LOCATION '/user/itv012740/lendingclubproject/raw/cleaned_new/loans_defaulters_delinq_parquet'
""")

++
||
++
++

In [47]:
spark.sql("""
create EXTERNAL TABLE itv012740_lending_club_project_db.loans_defaulters_detail_rec_enq_new(member_id string, pub_rec integer, pub_rec_bankruptcies integer, inq_last_6mths integer)
stored as parquet
LOCATION '/user/itv012740/lendingclubproject/raw/cleaned_new/loans_defaulters_detail_rec_enq_parquet'
""")

++
||
++
++

In [48]:
spark.sql("""select member_id, count(*) as total 
from itv012740_lending_club_project_db.loans_defaulters_detail_rec_enq_new
group by member_id order by total desc""")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|a4567bba097c4485d...|    1|
|297b3685bff900558...|    1|
|d7da1e199b06236ae...|    1|
|b5a2dad88536a8490...|    1|
|c8e170eef798ca694...|    1|
|db55a8478f700a6ff...|    1|
|f905feb44b4a6e434...|    1|
|ff631df1bbb6d5a7c...|    1|
|eecbacb5aa8c38a2c...|    1|
|354de6d6dceeb36cf...|    1|
|1884e4b07401cbfa8...|    1|
|959dfccf75808d71d...|    1|
|7d6676a24c4cfc817...|    1|
|e17dfee4e3130d8d9...|    1|
|eea85729136c207be...|    1|
|3b7e24563a87a9214...|    1|
|bd843590310ed61c8...|    1|
|9f2256c892098ca49...|    1|
|1745a20452540f955...|    1|
|fefd07e8b42be64cd...|    1|
+--------------------+-----+
only showing top 20 rows